* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
  background: black;
  color: white;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  z-index: 10;
}

h1 {
  font-size: 3rem;
}
